a.linkContacto {
  position:absolute;
  top:40px;
  right:20px;
  font-size:20px;
  color:black;
}

.logo {
  margin-top:50px;
  margin-bottom:70px !important;
}

.row .proxecto {
  margin-bottom:20px;
}

.row .proxecto  a .titulo {
  text-decoration:none;
  color:black;
}

.tags a{
  margin-right:5px;
  color:black;
  cursor:pointer;
  
}

.menuTags {
  font-size:20px;
}
.menuTags .fa {
  cursor:pointer;
}
.menuTags a {
  font-size:20px;
  margin-right:10px;
}
.menuTags a.seleccionado {
  font-weight:bold;
}

.proxecto .titulo {
  font-size:15px;
  font-weight:bold;

}
